@use "skin" as *;
@use "variables" as *;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;

  background: url("../img/background.jpg");
  background-color: #3a3a3a;
  background-position: 50% 0;
}

html {
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
}

h2 {
  margin: 10px 0;

  color: $accent-color;

  font-size: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}

p {
  color: $base-color;

  line-height: 1.75;
}

i {
  color: #424242;
}

li {
  line-height: 1.5;
}

.wrapper {
  flex-grow: 1;

  max-width: $lg;
  padding: 0 15px;
}
