@use "skin" as *;

.wrapper {
  max-width: 850px;
  padding: 0 15px;
  flex-grow: 1;
}
.header {
  display: flex;
  flex: 1 0 100%;
  margin: 34px 0;
  align-items: center;
  &-logo {
    flex: 0 0 200px;
  }
  &img{
    border-style: none;
  }
  &a {
    background-color: transparent;
    text-decoration: none;
  }
}

