@use "skin" as *;
@use "variables" as *;

.left-sidebar {
  position: relative;
  background-color: $light-color;

  @include md {
    flex: 0 0 300px;
    padding: 0 15px 15px 20px;
    order: 2;

    &::after {
      position: absolute;
      top: 15px;
      right: 0;
      height: 90%;
      content: "";
      border-right: 1px solid #dddddd;
    }
  }

  @include md {
flex: 1 0 100%;
    padding: 0 $gap $gap $gap;
    order: 3;
  }

  ul {
    padding-left: 20px;
  }

  li {
    position: relative;
    padding: $gap/2;
    list-style: none;
    color: $base-color;
    font-style: italic;

    &::before {
      position: absolute;
      margin-left: -$gap - 5;
      content: url("../img/main-list-arrow.png");
    }

    span {
      position: relative;

      &::after {
        position: relative;
        right: 0;
        bottom: -$gap/2*2;
        left: 0;
        height: 1px;
        content: "";
        background-color: darken($light-color, 7%);
      }
    }
  }
}
