@use "skin" as *;
@use "variables" as *;


.left-sidebar {
  position: relative;

  background-color: $light-color;

  @media (min-width: $small + 1) {
    flex: 0 0 300px;
    order: 2;

    padding: 0 15px 15px $gap;

    &::after {
      position: absolute;
      top: 15px;
      right: 0;

      height: 90%;

      content: "";

      border-right: 1px solid darken($light-color, 7%);
    }
  }
  @media (max-width: $small) {
    flex: 1 0 100%;
    order: 3;

    padding: 0 $gap $gap $gap;
  }

  ul {
    padding-left: $gap;
  }

  li {
    position: relative;

    padding: 15px/2;

    list-style: none;

    color: $base-color;

    font-style: italic;

    &::before {
      position: absolute;

      margin-left: -15px;

      content: url("../img/main-list-arrow.png");
    }

    span {
      position: relative;

      &::after {
        position: relative;
        right: 0;
        //bottom: -15px/3*2;
        left: 0;

        height: 1px;

        content: "";

        background-color: darken($light-color, 7%);
      }
    }
  }
}
