@import 'skin';
@import 'variables';

.container
{
    display: flex;

    margin-bottom: 50px;
    padding: $gutter;

    background: rgba($white-color, .1);

    flex-wrap: wrap;
}

.main
{
    background-color: $light-color;

    @media (min-width: $small + 1)
    {
        padding: 0 $gap $gutter $gutter;

        flex: 1 0 calc(100% - 300px);
        order: 3;
    }
    @media (max-width: $small)
    {
        padding: $gap;

        flex: 1 0 100%;
        order: 2;
    }

    p
    {
        text-align: justify;
    }
}
