/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 2 */

  -webkit-text-size-adjust: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */

  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;

  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  margin: 0.67em 0;

  font-size: 2em;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  color: #000000;
  background: #ffff00;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  position: relative;

  vertical-align: baseline;

  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  /* 2 */
  margin: 0;

  color: inherit;
  /* 1 */

  font: inherit;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  /* 2 */
  cursor: pointer;

  -webkit-appearance: button;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;

  -webkit-appearance: textfield;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;

  border: 1px solid #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  /* 1 */
  padding: 0;

  border: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-spacing: 0;

  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  background: url("../img/background.jpg");
  background-color: #3a3a3a;
  background-position: 50% 0;
}

h2 {
  margin: 10px 0;

  color: #0b81be;

  font-size: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}

p {
  color: #858585;

  line-height: 1.75;
}

i {
  color: #424242;
}

li {
  line-height: 1.5;
}

.wrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  max-width: 850px;
  padding: 0 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;

  margin: 34px 0;
}
.header-logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
}

.menu {
  position: relative;
  z-index: 9;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  min-height: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}
.menu__list.active {
  z-index: 1;

  visibility: visible;

  opacity: 1;
}
.menu__list.active .menu__list-item {
  width: 100%;
  margin: 0;

  text-align: center;
}
.menu__list.active .menu__list-item a {
  width: 100%;
  padding: 15px;

  border-radius: 0;
}
.menu .menu__list-item {
  display: block;

  margin-left: 7px;
}
.menu .menu__list-item a {
  display: block;

  padding: 12px 15px;

  text-decoration: none;
  text-transform: uppercase;

  color: #efefef;
  border-radius: 15px;
}
.menu .menu__list-item:hover:not(.active) a {
  background-color: rgba(255, 255, 255, 0.2);
}
.menu .menu__list-item.active a {
  background: -webkit-gradient(linear, left top, left bottom, from(#0f8bbe), color-stop(50%, #2989d8), color-stop(51%, #207cca), to(#0eb7fe));
  background: -o-linear-gradient(top, #0f8bbe 0%, #2989d8 50%, #207cca 51%, #0eb7fe 100%);
  background: linear-gradient(to bottom, #0f8bbe 0%, #2989d8 50%, #207cca 51%, #0eb7fe 100%);
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.25);
}
.menu__btn-row {
  position: relative;

  width: 60%;
  height: 2px;
  margin: 2px 0;

  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  background-color: #ffffff;
}
.menu__btn.active .menu-btn__row:first-of-type {
  top: 6px;

  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.menu__btn.active .menu-btn__row:last-of-type {
  top: -6px;

  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg);
}
.menu__btn.active .menu-btn__row:nth-of-type(2) {
  opacity: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-bottom: 50px;
  padding: 15px;

  background: rgba(255, 255, 255, 0.1);
}

.main {
  background-color: #efefef;
}
.main p {
  text-align: justify;
}

.carousel {
  position: relative;

  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;

  width: 100%;
  padding: 15px;

  background-color: #efefef;
}
.carousel-slides {
  position: relative;
}
.carousel-slide {
  position: absolute;
  top: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;

  opacity: 0;
  border: 7px solid #ffffff;
  background-image: url(../img/carousel-item-bg.png);
  background-position: 50% 50%;
  background-size: cover;
  -webkit-box-shadow: 0 0 1px #dddddd;
  box-shadow: 0 0 1px #dddddd;
}
.carousel-slide__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  padding: 15px;
}
.carousel-slide__image img {
  max-width: 100%;
}
.carousel-slide.active {
  position: relative;
  z-index: 1;

  opacity: 1;
}
.carousel-slide__text h3 {
  text-transform: uppercase;

  color: #ffffff;
}
.carousel-slide__text p {
  overflow: hidden;

  max-height: 70px;

  color: #ffffff;

  font-size: 1rem;
  line-height: 1.5;
}
.carousel .carousel-control {
  position: absolute;
  z-index: 2;
  top: 50%;
}
.carousel .carousel-control img {
  margin-top: -15px;
}
.carousel .carousel-control.prev {
  left: 3px;
}
.carousel .carousel-control.next {
  right: 3px;

  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.left-sidebar {
  position: relative;

  background-color: #efefef;
}
.left-sidebar ul {
  padding-left: 20px;
}
.left-sidebar li {
  position: relative;

  padding: 15px/2;

  list-style: none;

  color: #858585;

  font-style: italic;
}
.left-sidebar li::before {
  position: absolute;

  margin-left: -15px;

  content: url("../img/main-list-arrow.png");
}
.left-sidebar li span {
  position: relative;
}
.left-sidebar li span::after {
  position: relative;
  right: 0;
  left: 0;

  height: 1px;

  content: "";

  background-color: #dddddd;
}

.bottom-sidebar {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;

  padding: 15px;

  background-color: #efefef;
}
.bottom-sidebar::before {
  position: absolute;
  top: 14px;
  right: 14px;
  bottom: 14px;
  left: 14px;

  content: "";

  background-color: #dddddd;
}
.bottom-sidebar p {
  margin: 0;

  color: #858585;

  line-height: 1.5em;
}
.bottom-sidebar img {
  padding: 0 15px 15px 0;
}

.bottom-sidebar__left {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;

  border: 5px solid #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #f5f5f5), to(#eeeeee));
  background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 50%, #eeeeee 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #eeeeee 100%);
}

.bottom-sidebar__right {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;

  border: 5px solid #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #f5f5f5), to(#eeeeee));
  background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 50%, #eeeeee 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #eeeeee 100%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}
.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 37px;
}
.footer .menu__btn {
  display: none;
}
.footer .menu__list-item {
  font-size: 0.9rem;
}

.footer-logo {
  margin: 15px;
}

.twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.twitter__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55px;
  flex: 0 0 55px;
}
.twitter__description {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100px;
  flex: 1 0 100px;
}
.twitter__description-title {
  display: block;

  color: #ffffff;

  font-size: 2rem;
}
.twitter__description-slogan {
  color: #727272;
}
.twitter__post {
  position: relative;

  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(100% - 67px);
  flex: 1 0 calc(100% - 67px);

  padding: 20px;

  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
}
.twitter__post::before {
  position: absolute;
  top: -19px;
  left: 0;

  content: url("../img/twitter-speech-bubble.png");
}
.twitter__post-text {
  color: #858585;

  line-height: 18px;
}
.twitter__post-date {
  color: #0b81be;

  font-size: 0.83rem;
  font-style: italic;
}

.copyright {
  color: #ffffff;
}

@media (min-width: 577px) {
  .twitter__post {
    margin: 12px 30px 30px 37px;
  }
}

@media (min-width: 769px) {
  .menu {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 200px;
    flex: 1 0 200px;
  }
  .main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(100% - 300px);
    flex: 1 0 calc(100% - 300px);
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;

    padding: 0 20px 15px 15px;
  }
  .carousel-slide__text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    padding: 15px 30px 15px 15px;
  }
  .carousel-slide__text h3 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    margin: 15px 0;
  }
  .carousel-slide__text p {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    margin-bottom: 15px;

    text-align: justify;
  }
  .left-sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;

    padding: 0 15px 15px 20px;
  }
  .left-sidebar::after {
    position: absolute;
    top: 15px;
    right: 0;

    height: 90%;

    content: "";

    border-right: 1px solid #dddddd;
  }
  .bottom-sidebar__left {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;

    padding: 20px 15px 25px;

    border-right: none;
  }
  .bottom-sidebar__left::after {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;

    content: "";

    border-right: 1px solid #dddddd;
  }
  .bottom-sidebar__right {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;

    padding: 20px 15px 25px;

    border-left: none;
  }
  .footer-logo {
    text-align: right;
  }
}

@media (min-width: 851px) {
  .menu__btn {
    display: none;
  }
  .carousel-slide__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
  }
  .copyright {
    margin: 57px 15px 15px 15px;

    text-align: right;
  }
}

@media (max-width: 850px) {
  .menu__list {
    position: absolute;
    z-index: -999;
    top: 100%;
    right: -25px;

    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    width: 100vw;

    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .menu__list {
    top: initial;
    bottom: 100%;
  }
}

@media (max-width: 850px) and (min-width: 769px) {
  .carousel-slide__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 220px;
    flex: 0 0 220px;
  }
  .footer-left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
  }
  .footer-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
  }
  .copyright {
    margin: 75px 15px 15px 15px;

    text-align: right;
  }
}

@media (max-width: 768px) {
  .menu {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50px;
    flex: 1 0 50px;
  }
  .main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;

    padding: 20px;
  }
  .carousel-slide {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .carousel-slide__image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .carousel-slide__text {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;

    padding: 0 15px 15px 15px;
  }
  .carousel-slide__text h3 {
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;

    max-width: calc(100vw - 135px);
    margin: 0 0 15px 0;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
  }
  .carousel-slide__text p {
    margin: 0 0 15px 0;
    margin-bottom: 0;

    text-align: center;
  }
  .left-sidebar {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;

    padding: 0 20px 20px 20px;
  }
  .bottom-sidebar__left {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;

    padding: 15px;
  }
  .bottom-sidebar__right {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;

    padding: 15px;
  }
  .bottom-sidebar__right p {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .bottom-sidebar__right img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;

    padding: 0 0 15px 15px;
  }
  .footer-left {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .footer-right {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .footer .wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-logo {
    text-align: center;
  }
  .copyright {
    margin: 30px 15px 15px 15px;

    text-align: center;
  }
}

@media (max-width: 576px) {
  .footer .menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .twitter__post {
    margin: 12px 0 30px 37px;
  }
}
